each object, index in objects
  figure
    img(src="//api.artsmia.org/images/#{object.id.split('/').pop()}/300/small.jpg")
  figcaption
    each field in ['country', 'culture', 'title', 'dated', 'medium', 'dimension', 'creditline', 'accession_number']
     span #{object[field]}
