each object, index in objects
  figure
    if object.image == "valid"
      img(src="//api.artsmia.org/images/#{object.id.split('/').pop()}/300/small.jpg")
    figcaption
      each field in fields
        p(class=field) #{object[field]}
      aside
        pre #{JSON.stringify(object, undefined, 2)}

if objects.length < 1
  p Nothing matches
